.3_126 { 
	overflow:hidden;
}
.e3_126 { 
	width:1440px;
	height:2508px;
	position:absolute;
}
.e3_2 { 
	background-color:rgba(255, 255, 255, 1);
	height:2968px;
	position:absolute;
	left:0px;
	top:0px;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	place-items: center;
}
.e3_5 { 
	box-shadow:0px 0px 6px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	place-items: center;
}
.e3_125 { 
	width:198px;
	height:150px;
	position:absolute;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	top:-35px;
	scale: 0.5;
}
.e3_7 { 
	color:rgba(255, 255, 255, 1);
	width:946px;
	height:36px;
	position:absolute;
	left:238px;
	top:22px;
	font-family:Roboto;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:px;
}
.e3_8 { 
	background-color:rgba(0, 0, 0, 1);
	width:216px;
	height:24px;
	position:absolute;
	left:1204px;
	top:28px;
}
.e3_9 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_10 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:24px;
	position:absolute;
	left:135px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_11 { 
	width:1440px;
	height:600px;
	position:absolute;
	left:0px;
	top:80px;
	background-image:url(images/section.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_12 { 
	width:1100px;
	height:288px;
	position:absolute;
	left:170px;
	top:156px;
}
.e3_13 { 
	color:rgba(255, 255, 255, 1);
	width:520px;
	height:144px;
	position:absolute;
	left:290px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e3_14 { 
	color:rgba(255, 255, 255, 1);
	width:520px;
	height:48px;
	position:absolute;
	left:290px;
	top:168px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_15 { 
	width:209px;
	height:48px;
	position:absolute;
	left:445.5px;
	top:240px;
}
.e3_16 { 
	background-color:rgba(255, 0, 0, 1);
	width:209px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e3_17 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:24px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.3_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_18 { 
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:600px;
}
.e3_19 { 
	width:1440px;
	height:700px;
	position:absolute;
	left:0px;
	top:680px;
}
.e3_20 { 
	width:1100px;
	height:580px;
	position:absolute;
	left:170px;
	top:60px;
}
.e3_21 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:96px;
	position:absolute;
	left:290px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e3_22 { 
	width:1100px;
	height:460px;
	position:absolute;
	left:0px;
	top:120px;
}
.3_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_23 { 
	width:340px;
	height:420px;
	position:absolute;
	left:0px;
	top:20px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_24 { 
	width:340px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_25 { 
	background-color:rgba(216.75000607967377, 216.75000607967377, 216.75000607967377, 0.5);
	width:340px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_26 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:16px;
	position:absolute;
	left:16px;
	top:162px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e3_27 { 
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:89px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_28 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:16px;
	position:absolute;
	left:8px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e3_29 { 
	width:340px;
	height:80px;
	position:absolute;
	left:0px;
	top:340px;
}
.e3_30 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:24px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_31 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:28px;
	position:absolute;
	left:12px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.3_32 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_32 { 
	width:340px;
	height:420px;
	position:absolute;
	left:380px;
	top:20px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_33 { 
	width:340px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_34 { 
	background-color:rgba(216.75000607967377, 216.75000607967377, 216.75000607967377, 0.5);
	width:340px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_35 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:16px;
	position:absolute;
	left:16px;
	top:162px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e3_36 { 
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:89px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_37 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:16px;
	position:absolute;
	left:8px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e3_38 { 
	width:340px;
	height:80px;
	position:absolute;
	left:0px;
	top:340px;
}
.e3_39 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:24px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_40 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:28px;
	position:absolute;
	left:12px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.3_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_41 { 
	width:340px;
	height:420px;
	position:absolute;
	left:760px;
	top:20px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_42 { 
	width:340px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_43 { 
	background-color:rgba(216.75000607967377, 216.75000607967377, 216.75000607967377, 0.5);
	width:340px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_44 { 
	color:rgba(0, 0, 0, 1);
	width:308px;
	height:16px;
	position:absolute;
	left:16px;
	top:162px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e3_45 { 
	width:340px;
	height:80px;
	position:absolute;
	left:0px;
	top:340px;
}
.e3_46 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:24px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_47 { 
	color:rgba(0, 0, 0, 1);
	width:316px;
	height:28px;
	position:absolute;
	left:12px;
	top:40px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.3_48 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_48 { 
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:700px;
}
.e3_49 { 
	width:1440px;
	height:584px;
	position:absolute;
	left:0px;
	top:1380px;
}
.e3_50 { 
	width:1100px;
	height:464px;
	position:absolute;
	left:170px;
	top:60px;
}
.e3_51 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:96px;
	position:absolute;
	left:290px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e3_52 { 
	width:1100px;
	height:344px;
	position:absolute;
	left:0px;
	top:120px;
}
.e3_53 { 
	width:1100px;
	height:132px;
	position:absolute;
	left:0px;
	top:20px;
}
.3_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_54 { 
	width:530px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_55 { 
	width:100px;
	height:100px;
	position:absolute;
	left:16px;
	top:16px;
}
.e3_56 { 
	background-color:rgba(188.06250303983688, 179.44296956062317, 179.44296956062317, 0.5);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_57 { 
	width:382px;
	height:84px;
	position:absolute;
	left:132px;
	top:16px;
}
.e3_58 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_59 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:48px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.3_60 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_60 { 
	width:530px;
	height:132px;
	position:absolute;
	left:570px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_61 { 
	width:100px;
	height:100px;
	position:absolute;
	left:16px;
	top:16px;
}
.e3_62 { 
	background-color:rgba(188.06250303983688, 179.44296956062317, 179.44296956062317, 0.5);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_63 { 
	width:382px;
	height:84px;
	position:absolute;
	left:132px;
	top:16px;
}
.e3_64 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_65 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:48px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_66 { 
	width:1100px;
	height:132px;
	position:absolute;
	left:0px;
	top:192px;
}
.3_67 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_67 { 
	width:530px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_68 { 
	width:100px;
	height:100px;
	position:absolute;
	left:16px;
	top:16px;
}
.e3_69 { 
	background-color:rgba(188.06250303983688, 179.44296956062317, 179.44296956062317, 0.5);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_70 { 
	width:382px;
	height:84px;
	position:absolute;
	left:132px;
	top:16px;
}
.e3_71 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_72 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:48px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.3_73 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_73 { 
	width:530px;
	height:132px;
	position:absolute;
	left:570px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_74 { 
	width:100px;
	height:100px;
	position:absolute;
	left:16px;
	top:16px;
}
.e3_75 { 
	background-color:rgba(188.06250303983688, 179.44296956062317, 179.44296956062317, 0.5);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_76 { 
	width:382px;
	height:84px;
	position:absolute;
	left:132px;
	top:16px;
}
.e3_77 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_78 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:48px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.3_79 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_79 { 
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:584px;
}
.e3_80 { 
	width:1440px;
	height:272px;
	position:absolute;
	left:0px;
	top:1964px;
}
.e3_81 { 
	width:520px;
	height:96px;
	position:absolute;
	left:170px;
	top:88px;
}
.e3_82 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e3_83 { 
	width:520px;
	height:152px;
	position:absolute;
	left:750px;
	top:60px;
}
.e3_84 { 
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:240px;
	height:152px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_85 { 
	width:208px;
	height:32px;
	position:absolute;
	left:16px;
	top:16px;
}
.e3_86 { 
	width:208px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_87 { 
	background-color:rgba(0, 0, 0, 0.10000000149011612);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
.e3_88 { 
	width:168px;
	height:20px;
	position:absolute;
	left:40px;
	top:6px;
}
.e3_89 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_90 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:72px;
	position:absolute;
	left:16px;
	top:64px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_91 { 
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:240px;
	height:152px;
	position:absolute;
	left:280px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e3_92 { 
	width:208px;
	height:32px;
	position:absolute;
	left:16px;
	top:16px;
}
.e3_93 { 
	width:208px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_94 { 
	background-color:rgba(0, 0, 0, 0.10000000149011612);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
.e3_95 { 
	width:168px;
	height:20px;
	position:absolute;
	left:40px;
	top:6px;
}
.e3_96 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_97 { 
	color:rgba(0, 0, 0, 1);
	width:208px;
	height:72px;
	position:absolute;
	left:16px;
	top:64px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.3_98 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_98 { 
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:272px;
}
.e3_99 { 
	width:1440px;
	height:512px;
	position:absolute;
	left:0px;
	top:2236px;
}
.e3_100 { 
	width:1100px;
	height:392px;
	position:absolute;
	left:170px;
	top:60px;
}
.e3_101 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:48px;
	position:absolute;
	left:290px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e3_102 { 
	width:600px;
	height:60px;
	position:absolute;
	left:250px;
	top:72px;
}
.e3_103 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_104 { 
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:36px;
	position:absolute;
	left:0px;
	top:24px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.3_104 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_105 { 
	color:rgba(0, 0, 0, 0.5);
	width:576px;
	height:20px;
	position:absolute;
	left:12px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_106 { 
	width:600px;
	height:60px;
	position:absolute;
	left:250px;
	top:156px;
}
.e3_107 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_108 { 
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:36px;
	position:absolute;
	left:0px;
	top:24px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.3_108 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_109 { 
	color:rgba(0, 0, 0, 0.5);
	width:576px;
	height:20px;
	position:absolute;
	left:12px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_110 { 
	width:600px;
	height:80px;
	position:absolute;
	left:250px;
	top:240px;
}
.e3_111 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:600px;
	height:36px;
	position:absolute;
	left:0px;
	top:24px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.3_112 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_113 { 
	color:rgba(0, 0, 0, 0.5);
	width:576px;
	height:20px;
	position:absolute;
	left:12px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e3_114 { 
	color:rgba(0, 0, 0, 0.5);
	width:600px;
	height:16px;
	position:absolute;
	left:0px;
	top:64px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.e3_115 { 
	width:160px;
	height:48px;
	position:absolute;
	left:470px;
	top:344px;
}
.e3_116 { 
	background-color:rgba(0, 0, 0, 1);
	width:160px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e3_117 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:24px;
	position:absolute;
	left:57.5px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.3_118 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e3_118 { 
	width:1440px;
	height:0px;
	position:absolute;
	left:0px;
	top:512px;
}
.e3_119 { 
	width:1440px;
	height:220px;
	position:absolute;
	left:0px;
	top:2748px;
}
.e3_120 { 
	width:873px;
	height:100px;
	position:absolute;
	left:283.5px;
	top:60px;
}
.e3_121 { 
	color:rgba(0, 0, 0, 1);
	width:236px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_122 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:100px;
	position:absolute;
	left:296px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_123 { 
	color:rgba(0, 0, 0, 1);
	width:192px;
	height:100px;
	position:absolute;
	left:507px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e3_124 { 
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:100px;
	position:absolute;
	left:759px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
